/**
* Theme Name: Travel Log Child
* Author: WEN Solutions
* Template: travel-log
* Text Domain: travel-log-child
* Description: Travel Log is a simple and clean Travel WordPress Theme.
*/
@import  url("main.min.css");
.status-publish img{
	margin-bottom: 0!important;
}
h2.widget-title{
	text-transform: none!important;
	background: transparent!important;
	border: none!important;
	padding-left: 0!important;
}
.layout-right-sidebar .widget-area {
    padding-left: 50px;
    padding-right: 0;
}
.page-content.blog.page-blog .layout-right-sidebar .widget-area {
     width: 100%;
}
.wp-travel-itinerary-items ul.wp-travel-itinerary-list.itinerary-2-per-row li {
    width: calc( 33% - 20px);
}
.wp-travel-itinerary-items {
    width: 100%;
}
.wp-travel-itinerary-items ul.wp-travel-itinerary-list li{
	border: none!important ;
}
fieldset {
    border: none!important;
    margin: 0!important;
    padding: 0!important;
    background: #fff;
}
.blog-post-item .post-img-wrap {
    height: 160px;
}
.blog-post-item .post-img-wrap img {
    height: 100%;   
}
.single-itineraries .tour-info .tour-info-column .tour-info-item{
    width: 100%;
}
div#page {
    margin-bottom: 80px;
}
ul#slider-feedback {
    margin-left: -15px;
}
.availabily-wrapper ul.availabily-list li > div {
    width: 100%;
    padding: 0;
    margin: 5px 0;
}
.availabily-wrapper ul.availabily-list li > div span {
    display: inline-block;
}
.price-regular-wrap .price .price-regular {
    font-size: 1.5rem;
    font-family: LatoBold,sans-serif;
    font-weight: 700;
    color: rgba(0,0,0,0.5);
}
.price-regular-wrap .price del span {
    font-weight: 400;
    position: absolute;
    top: -1.5rem;
    text-decoration: line-through;
    font-size: 1.5rem;
    color: rgba(0,0,0,.5);
}

.single-itineraries .right-number {
    margin: 20px auto 40px;
}
ins, mark {
    background: transparent!important;
}
a.btn.btn-primary.add-to-cart-btn.btn-sm.btn-inverse:hover {
    color: #fff;
}
.wp-travel {
    display: block;
    height: 1002px;
    width: 100%;
}
.wp-travel-form-field.wp-travel-checkbox label:first-child {
    display: none;
}
.wp-travel-form-field.wp-travel-checkbox{
    margin-top: 0;
}
#simple-menu{
    z-index: 100;
}


.site-header {
     background: transparent!important;
    padding: 0!important;
}
div#mobile-nav {
    display: none;
    width: 100%;
    position: fixed;
    background: #fff;
    margin: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
ul#mobile-sidr-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#mobile-sidr-menu li {
    border-top: 1px solid #eae8e8;
}
ul#mobile-sidr-menu li.menu-item:hover {
    background: #075aa7;
}
ul#mobile-sidr-menu li.menu-item:hover a {
    color: #fff;
}

ul#mobile-sidr-menu .menu-item a {
    padding: 5px 0;
    font-size: 1.5rem;
    display: block;
    margin-left: 20px;
}

input[type=submit]{
    color: #fff!important;
}
p.form-submit {
    position: relative;
    z-index: 100;
}
i.wt-icon-regular.wt-icon-clock {
    display: none;
}

.home .tour-meta-info.mobile, .home .btn-bottom.mobile  {
        display: none;
}
.price {
    position: relative;
    float: left;
    margin-left: 10px;
}
.discount-wrap {
    float: left;
}
.page-book-tour .tour-meta-info .price-regular-wrap{
    position: relative;
    width: 70%;
}
.page-book-tour .discount-exit-date {
    position: absolute;
    left: -5px;
    bottom: -22px;
    font-size: 9px;
    max-width: 100px;
    }
.countend-day {
    font-size: 2rem;
    font-family: LatoBold,sans-serif;
    font-weight: 700;
    color: #000;
    margin: 0 auto 0 20px;

}
.page-book-tour .end-day {
    padding-left: 20px;
}
 
.page-pay  .price-regular-wrap .price del span, #booking .price-regular-wrap .price del span{
    position: relative;
    margin-left: 10px;
}
#booking .price-regular-wrap .price del span {
    top: 0px;
}
.price {
    display: flex;
    flex-direction: row-reverse;
}
.row.gallery .btn {

    display: inline-block;
}
.page-template-default div#primary, .page-template-default #secondary {
    padding-top: 140px;
}
#simple-menu i {
    background: transparent!important;
    border: navajowhite!important;
    color: #fff!important;
}
@media (max-width: 992px){
    #simple-menu {
        top: 32px!important;
    }
    .page-book-tour .tour-name {
        font-size: 18px
    }
    .site-header {

         min-height: 0!important;
    }
    ul.availabily-list li > div span {
        font-size: 10px;
    }
    #simple-menu{
        position: fixed!important;
    }
    .wp-travel-itinerary-items ul.wp-travel-itinerary-list.itinerary-2-per-row li {
        width: 100%;
        margin: 20px;
    }
    
     .gallery-tour-wrap {

        left: 0!important;
        right: 0!important;
        margin: auto;
    }
    .home .gallery-tour-wrap {
       width: 160px;
   }
   .best-tour-wrap {
         padding: 0;
    }
    .tour-content{
        margin: 10px  30px;
    }

}
@media only screen and (max-width: 767px){
	.slider-header-item{
		background-position:  30% 50%!important;
		
	}
    .home .tour-content {
        background: transparent;
    }
    ul.availabily-list li > div {
       padding-left:0!important; 
   }
   .price {
        text-align: center;
        margin: auto;
    }
    .discount-wrap{
        max-width: 200px;
        margin: auto;
        text-align: center;
        float: none;
    }
    .page-pay .discount-wrap span.discount, .single-itineraries .discount-wrap span.discount {
        padding: 6px 0;
    }
    .single-itineraries .positive, .single-itineraries .negative {
        max-width: 100%;
        margin-top: 10px;
    }
    .logo-wrap {
        max-width: 430px!important;
        width: 100%!important;
        margin: 0;
    }
    .header-page-title {
       font-size: 3rem;
    }
    .page-content{
        padding-top: 0;
    }
    body {
        position: absolute!important;
        top: 0!important;
    }
    .home .blog-post-item {
        width: 100%;
        margin: 20px 0;
    }
   
    .footer_bg {
        padding-top: 8.5rem;
    }
    .footer-bottom{
        margin: 0;
    }
    .home .item-tour-wrap {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: column-reverse;
    }
    .home .tour-content .content-right {
         max-width: 100%;
          float: left;
    }
    .home .tour-content {
        width: 100%;
        max-width: 100%;
        padding: 0;
       
    }
 
    .home .item-tour-wrap .tour-img-wrap {
         width: 100%;
         max-width: 100%;
     }
     .home .item-tour-wrap .tour-img-wrap .tour-img {
   
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    
    .home .tour-meta-info.mobile, .home .btn-bottom.mobile  {
        display: block;
    }
    .blog-post-item .post-img-wrap {
        height: auto;
        width: 100%;
        border-radius: 0;
    }
    .home .blog-post-item  {
        padding: 0;
    }
    .home .blog-post-list .post-link {
        padding: 0;
    }
    .page-content.about .row-bg {
        padding: 0;
    }
    .about p, .about h3 , ul.social-group-list {
        margin: 0 30px;
    }
    .page-content.about .social-group-list .social-item .fa {
         font-size: 32px;
     }
     .page-content.about .social-group-list .social-item a {
    
        font-size: 22px;
        top: 8px;
    }
    .page-content.about .social-group-list .social-item.tripadvisor .icon-tripadvisor {
        
        width: 24px;
        height: 27px;
    }
    .about-content.mission{
        margin-bottom: 20px;
    }
  .page-book-tour .tour-meta-info {
        margin: 4rem 0;
    }
    .layout-right-sidebar .widget-area {
        padding-left: 0;
        margin: 0 30px;
    }
    .blog li.blog-post-item, .blog .blog-posts.top-blog {
        width: 100%;
        max-width: 100%!important;
        padding-left: 0;
    }
    .blog-img-wrap{
        border-radius: 0!important;
    }
    .post-link {
        font-size: 14px!important;
        font-weight: 700;
        color: #075aa7;
    }
    .blog-post-title {
         font-size: 18px!important;
     }

    div#wp-travel-content {
        margin: 0;
        padding: 0;
    }
    .destination-content {
        margin: 0 15px;
    }
    .single-itineraries .positive-negative {
        margin-top: 0px; 
    }
    .inupt-group {
        text-align: center;
    }
   
    .single-itineraries .price-regular-wrap{
        padding-top: 0!important;
    }
    ul.social-list {
        margin: 0;
    }
    .page-pay .meta-info, .page-pay .number-travellers {
       text-align: center;
    }
    .page-pay .discount-wrap {
        width: 60px;
        float: none!important;
        width: 200px!important;
        margin: auto;
        text-align: center;
    }
    .page-pay .discount-wrap, .page-pay .price-regular-wrap {
        max-width: 50%;
    }
    .destination-img {
        margin: -30px;
    }
    .page-pay .photo-gallery-wrap, .single-itineraries .photo-gallery-wrap {
        margin: 0;
    }
    .best-sellers .price {
        text-align: center;
        margin: 2px 10px 0 0;
        width: auto;
    }
}
.taxonomy-description, .page-title {
    display: none;
}
.wp-travel-toolbar{
	z-index: 2;
	background: transparent;
	position: relative;
}
.wp-travel-grid-mode li {
    width: 33%;
    padding: 0 20px;
    z-index: 10;
}
.archive .tour-wrap-img, .wp-travel-article-image-wrap {
    overflow: hidden;
}
.wp-travel-grid-mode li .tour-btn {
    text-align: center;
    margin-top: 20px;
}
.gallery-tour-wrap {
    max-width: 322px;
	display: none;
}
.section-title {
      margin: 2rem auto;
}

.best-tour-wrap .tour-meta-info {
    position: absolute;
    width: 100%;
    bottom: 70px;
    align-items: center;
}
.best-tour-wrap .discount-exit-date {
    position: absolute;
    left: 60px;
    bottom: -13px;
}
.best-tour-wrap .end-day { 
    margin-left: 100px;
}
.home .section-desc {
	margin-top:30px;
    font-size: 1.5rem;
	color: rgba(0,0,0,0.5);
}

.home .best-tour {
    margin-top: 5rem;
}
.date-to, #trip_date, .availabily-heading-label {
    display: none!important;
}
#quiz .play-title {
	font-size: 3rem;
}
.pay-confirm img {
    position: absolute;
}
.pay-confirm input.form-control {
    position: relative;
    max-width: 380px;
    background: transparent;
    border: none!important;
	font-size: 32px;
}
input.form-control.card {
 	left: 40px;
    top: 70px;
}
input.form-control.month{
    top: 125px;
    left: 50px;
	 max-width: 170px;
}
input.form-control.year {
    top: 50px;
    left: 245px;
    max-width: 170px;
}
input.form-control.cvc {
    top: 150px;
    left: 400px;
    max-width: 110px;
}
input.form-control.namecard {
    top: 110px;
    left: 40px;
    max-width: 540px;
}
.page-pay .politic {
    margin: 210px 0 50px 40px;
}
@media screen and (min-width: 768px){
	.layout-right-sidebar .page-blog .widget-area {
		float: right;
		width: 100%;
		padding-left: 0;
	}
}