

::-webkit-input-placeholder
	color: #bcc4ca

::-moz-placeholder
	color: #bcc4ca

::-ms-input-placeholder
	color: #bcc4ca

::-moz-placeholder
	color: #bcc4ca
input[type="text"]
	width: 100%
	border: none
	z-index: 2
	background: transparent
input[type="date"]::before
	content: attr(data-placeholder)
	width: 100%
	color: #bcc4ca
input[type="date"]:focus::before,
input[type="date"]:valid::before
	display: none 
.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu
	z-index: 9999
	position: absolute
.input-append .add-on .icon-th, .input-prepend .add-on .icon-th
	background: url(../img/i-calendar.svg)
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	height: 30px!important
	width: 28px!important
	z-index: 1
.input-append .add-on, .input-prepend .add-on
	position: absolute
	right: 0
	top: 0
	height: 40px
	width: 40px
	background: transparent
	border: none

/************      Img       ****************/
.img-wrap
	position: relative
	border-radius: 6px
	overflow: hidden
	&.not-hover img
		transform: none


/*************    Titles           *************/
.h_2
	font-size: 2rem
	font-family: Lato
	font-weight: 700



.tour-name, .h_3
	font-size: 1.5rem
	margin-top: 10px
	display: block

.star .fa, .rate .fa
	color: #f5c15c
	margin: 0 4px

.info-type-tour
	table
		font-size: 1.5rem
		margin: auto
/********       Calendar        *********/
.calendar
	width: 100%
	margin: 50px auto 0
	max-width: 320px
.calendar__month
	max-width: 300px
.cal-month__next
	right: 5px


.calendar__month
	font-size: 20px
	font-weight: 800
	padding: 10px 0
	width: 100%
	position: relative

.cal-month__previous,
.cal-month__next
	position: absolute
	top: 50%
	transform: translateY(-50%)
	cursor: pointer
	width: 30px
	height: 30px
	text-align: center
	color: #c1c3c6

	&:hover
		box-shadow: 0 5px 5px -5px rgba(0,0,0,0.75)
		border-radius: 50%
		font-weight: 800
		color: #111

.cal-month__next
	right: 0

.cal-month__current
	text-align: center

.cal-head__day,
.cal-body__day
	display: inline-block
	width: 40px
	height: 40px
	float: left
	text-align: center
	border-radius: 4px
	margin: 2px
	max-width: 12%


.cal-head__day
	background: #9ed3e2
	color: #fff
	text-transform: uppercase
.cal-body__day
	background: #f1f4f7
	color: #c1c3c6

.cal-body__week,
.calendar__head
	display: block
	height: 40px
	width: 100%

.calendar__head
	line-height: 40px
	position: relative

.cal-body__day
	line-height: 40px
	text-align: center
	cursor: pointer

.cal-day__month--current
	color: #000

.cal-day__day--today
	font-weight: 800
	color: #fff
	background: #9ed3e2

.cal-day__day--selected
	background-color: #075aa7
	color: #fff

/********         404       *********/
.not-found
	font-size: 4rem
	width: 100%
	text-align: center
.page-404-img-wrap
	margin: 8rem auto
	height: 290px
	width: 100%
	display: block
	img
		width: auto
		margin: auto

/*************     window popup     *****************/
.popup-overlay
	position: relative
	background: #FFF
	padding: 50px
	width: auto
	max-width: 768px
	margin: auto
	border-radius: 12px
	.form-control    
		border-radius: 6px
		border: 1px solid #fff
		padding: 0 10px
		width: 100%
		height: 45px
		background: #f0f3f7
		position: relative
	label
		width: 100%
		font-size: 2.25rem
	input[type="number"]
		width: 40px
		background: transparent
		height: 30px
		padding: 0
		display: inline-block
		vertical-align: top
		text-align: center
	input[type="text"]
		// height: 100%

span.plus, span.minus
	width: 30px
	height: 30px
	background: #e9edf2
	display: inline-block
	position: relative
span.plus:before, span.minus:before
	content: ''
	position: absolute
	width: 80%
	height: 2px
	background: #075aa7
	top: 0
	bottom: 0
	left: 0
	right: 0
	margin: auto
span.plus:after
	content: ''
	position: absolute
	width: 80%
	height: 2px
	background: #075aa7
	top: 0
	bottom: 0
	left: 0
	right: 0
	margin: auto
	transform: rotate(90deg)
.label-number
	float: left
	width : auto!important

.inner
	display: flex
	align-items: flex-end
	flex-wrap: nowrap
	flex-direction: row
	margin-bottom: 30px
	height: 80px
	&.not-flex-box
		display: block
	small
		color: #bcc4ca
.not-margin
	margin-bottom: 0 

.col-left, .col-right
	width: 50%
	display: block
	float: left
	.right-number
		float: right

.col-left
	padding-right: 10px
.col-right
	padding-left: 10px
body textarea
	width: 100%
	border: none!important
	border-radius: 6px
	background: #f0f3f7
.popup-title
	font-size: 3rem
#signup
	background: url(../img/signup_backround.jpg)
	background-position: center center
	background-size: cover
	background-repeat: no-repeat
	width: 100%
	height: 100%
	overflow: hidden
	border-radius: 12px

	.popup-title
		text-align: center
		width: 70%
		margin: 0 auto 50px
	button.btn.btn-primary
		max-width: 100%
		height: 54px
#banner
	padding: 0
	max-width: 512px
	max-height: 750px
	height: 100%
	border-radius: 12px
	.inner
		margin: 0 65px
	.popup-title
		padding-bottom: 30px
		text-align: center
	.btn.btn-primary
		height: 54px

.banner-block-wrap
	padding: 65px 0
.banner-desc
	padding: 27px 65px 0 
	text-align: center
input#number-travellers
	height: 30px!important
.post-item-wrap .title-alt
	padding: 10px 0 0 30px!important
