/***********     Btn      **********/
.material-icons
	top: 2px
	position: relative
.btn
	max-width: 250px
	width: 100%
	text-align: center
	border-radius: 0.5rem
	color: #fff
	font-family: Lato
	font-weight: 700
	font-size: 1.5rem
	vertical-align: middle
	transition: 0.5s all
	top: 0
	padding: 5px 15px
	position: relative
	border-color: transparent

	&:hover
		top: -5px
		transition: 0.5s all

	&-primary
		background: #075aa7

	&-bottom
		position: absolute
		bottom: 0

	&-alt
		background: rgba(117,129,137,0.5)

.btn.prev-tuor
	max-width: 60px


.tags-link
	background: rgba(7,90,167,.16)
	padding: 6px 10px
	font-size: 1.2rem
	line-height: 3.5rem
	color: #075aa7
	-webkit-border-radius: 4px
	border-radius: 4px