@import "vars"





@media (min-width: 2400px ) and (-webkit-min-device-pixel-ratio: 2)
	html
		font-size: 32px
	.container
		max-width: 2560px


	.header_bg
		background: url(../img/header-1@2x.jpg)
	.header-menu 
		max-width: 50%
	.tour-content .content-right, .item-tour-wrap .tour-img-wrap	.tour-img
		max-width: 1280px
	.item-tour-wrap .tour-img-wrap .tour-img:last-child
		width: 19% !important
	.item-tour-wrap .tour-img-wrap .tour-img
		height: 880px
	.pl-img
		background: url(../img/cloude.png) 50% 1100px no-repeat fixed
		-webkit-background-size: cover
		background-size: cover

	.game-btn-icon
		background: url(../img/icon-click@2x.png)
		background-repeat: no-repeat
	.front-page 
		.title-img-wrap	
			max-width: 30%
		.game-btn-border
			width: 560px
			height: 560px
		.game-btn-icon	
			width: 52px
			height: 82px
		.game-btn-title
			font-size: 64px

	.btn
		max-width: 500px
		height: 112px
	
	.maping-bg
		background: url(../img/maping_bg@2x.png)
		height: 1100px

	.price-icon
		background: url(../img/price@2x.png)

	.calendar-icon
		background: url(../img/calendar@2x.png)
	.top-news
		max-width: 644px

	
	.feedbck-except:before
		background: url(../img/icon-quote@2x.png)

	.footer-overlay
		background: url(../img/cloude-footer@2x.png)
	.feedbck-img-wrap
		max-width: 686px
		max-height: 686px
	.page-header-background
		min-height: 900px
	#quiz
		max-width: 1536px
		height: 1736px
	#quiz .inner, #quiz .quiz-inner 
		max-width: 1280px
		height: auto
		margin: 60px auto
	#quiz a.btn.btn-primary
		line-height: 101px
	#quiz .icon_bg
		max-width: 610px
		height: 610px
	#location
		background: url(../img/location_bg@2x.jpg) no-repeat center
		background-size: cover
	#time-of-day
		background: url(../img/time-of-day_bg@2x.jpg) no-repeat center
		background-size: cover
	#indoor
		background: url(../img/indoor_bg@2x.jpg) no-repeat center
		background-size: cover
	#activity
		background: url(../img/activity_bg@2x.jpg) no-repeat center
		background-size: cover
	#animal
		background: url(../img/animal_bg@2x.jpg) no-repeat center
		background-size: cover
	#individual
		background: url(../img/individual_bg@2x.jpg) no-repeat center
		background-size: cover
	#play
		background: url(../img/play_bg@2x.jpg) no-repeat center
		background-size: cover

   
/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)


// ≥992px
+media-breakpoint-down(md)
	html
		font-size: 12px
	.logo-wrap
		margin-left: 30px
	.menu-list
		position: fixed
		top: 8rem
		width: 100%
		background: rgb(95, 192, 213)
		left: 0
		line-height: 2rem
		text-align: center
		background: #63cdd7
		background: -moz-linear-gradient(top, #63cdd7 0%, #4e85ce 100%)
		background: -webkit-linear-gradient(top, #63cdd7 0%,#4e85ce 100%)
		background: linear-gradient(to bottom, #63cdd7 0%, #4e85ce 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63cdd7', endColorstr='#4e85ce',GradientType=0 )		
		li.menu-item
			border-bottom: 1px solid rgba(255, 255, 255, 0.3)
		li.menu-item:last-child
			border: none
		li.menu-item:hover
			background: #075aa7


	.header-menu
			margin-right: 30px
	.header-menu .menu-list
		display: none
	.menu-bars
		display: block
	.best-tour-wrap
		padding: 0 20px
	.social, .search-form
		display: none
	.page-book-tour .section-title
		text-align: center
	.tour-wrap
		margin-bottom: 60px
	.tour-content
		margin: 0 30px
	.page-book-tour .tour-wrap-img 
		border-radius: 0
	.feedback-item-wrap
		padding: 0 30px 0 10px
	.feedback-title, .feedback-desc
		margin: 0
		text-align: center
	.footer_title
		margin: auto
		width: 90%
	.footer-bottom 
		.logo, .footer-menu
			display: none
		.social
			display: block
			margin: auto
	.social-list
		display: flex
		justify-content: space-between
	.input-group-email
		margin: 3rem auto
		width: 90%
	.input-group-email .form-control, .input-group-append
		width: 100%
		max-width: 100%
		text-align: center
		margin: 7px auto
	.page-content.destination>.container>.row
		flex-direction: column-reverse
	.positive-negative
		margin-right: -15px
	.page-destination .positive, .page-destination .negative
		max-width: 100%
	.page-destination .positive
		margin-bottom: 20px
	.destination-img
		margin: -15px
		img
			padding: 0
	.blog-new-post 
		.post-bottom
			padding: 0
		.post-except
			padding: 0 30px
	.front-page 
		.blog-new-post .post-except
			padding: 0 
		.post-wrap
			padding: 0 1.5rem .75rem

// ≥768px
+media-breakpoint-down(sm)
	
	body, .mfp-container
		padding: 0

	.front-page 
		.section-title
			font-size: 3.5rem
	
		.post-item-wrap .post-except
			padding: 0 30px
		.post-item-wrap .title-alt
			padding-left: 30px!important
		.section-desc
			max-width: 90%
		.post-img-wrap, .blog-post-item
			width: 100%
			padding: 0
			margin-top: 1.5rem
		.item-tour-wrap
			flex-direction: column
		.item-tour-wrap .tour-img-wrap
			width: 100%
			max-width: 100%
			background: transparent
			.tour-img
				float: none
				width: 100%
				border-radius: 0
				max-width: 100%
				height: auto
				img
					margin: auto
					width: 100%!important

				&:last-child
					display: none
		.best-tour
			margin: 0 -20px
			height: 960px

		.tour-content
			width: 97%
			max-width: 100%
			background: transparent
			margin: 0
			padding: 30px
			.content-right
				max-width: 100%
		.btn-bottom
			position: relative
			margin-top: 20px
		.button-group-tour
			display: none
		.gallery-tour-wrap
			display: none
			top: 0!important
			left: 0!important
			right: 0!important
			margin: auto
			display: block
			position: absolute
			width: 20rem
			bottom: 0!important
			z-index: 100

	.button-group-tour
		float: right
		min-width: 140px
	.btn.btn-alt
		max-width: 60px
		span
			display: none
	.page-destination .reviews-meta, .page-pay .reviews-meta
		float: none
		display: block
	.tour-wrap
		margin: 0 -15px 60px
		border-radius: 0
	.page-content.about .row
		padding:  3rem 0
	img.about-img
		padding: 0
		margin: 0 
		width: 100%
	.about-img-wrap-right
		float: none
		margin: 0 -30px
	.about-img-wrap	
		margin: 0 -15px

	/*******    blog     *******/
	.blog-post-left, .page-blog .blog .flex-grid, .post-item-wrap
		flex-wrap: wrap
	.page-blog .blog .post-img-wrap-medium
		border-radius: 0
	.page-blog .blog .blog-img-wrap, .page-blog .blog .blog-posts
		width: 100%
	.flex-grid
		flex-direction: column-reverse
	.page-blog .blog .blog-posts.top-blog
		width: 100%
		max-width: 100%
		padding: 0 30px 
	.page-blog .blog .top-blog .post-img-wrap-small
		max-width: 160px
		width: 30%
	.page-blog .blog .blog-posts
		max-width: 100%
		padding: 0
	.btn-more-posts .btn.btn-alt, .btn-back	 .btn.btn-alt 
		max-width: 250px
		padding: 5px 15px
	.post-bottom, .title-alt
		padding: 10px 30px 30px 
	.blog-post-left .post-except,  .blog-post-list .post-link
		padding: 0 30px
	.post-wrap .post-except, .post-wrap .post-link
		padding: 0
	.page-blog .simple-post-content
		max-width: 100%
		padding: 0 30px
		flex-wrap: wrap
		flex-direction: column-reverse
	.footer-left
		margin: 20px 0
	.page-blog .simple-post-content img
		padding: 0
	.post-item-wrap .title-alt
		padding: 10px 0 0 30px!important

	/********    pay      ********/
	
	ol
		padding: 0
	.page-pay input, .page-pay select, .page-pay textarea, .page-pay label
		width: 100%
	.page-pay .form-control
		margin: 0 0 15px 0!important
	.page-pay .img-wrap.not-hover
		margin: 0 15px
	.page-pay .pay-btn
		margin-top: 50px
	.page-pay .widget-subtitle, .page-pay .widget-wrap .img-wrap
		display: none

	/*********   banners  *********/
	#quiz .quiz-select, #quiz .quiz-inner,  #quiz .inner
		width: calc( 100% - 30px)
		height: calc(50vh - 90px)
	#quiz .quiz-inner .icon_bg
		width: calc(50% - 15px)
		height: 100%
	.popup-overlay
		padding: 20px
		width: 90%!important
	.popup-title
		width: 100%!important
		margin-bottom: 25px!important
	#signup .popup-title
		margin-top: 50px
	.popup-overlay .inner
		margin: 0s
		height: auto
		flex-wrap: wrap
	.popup-overlay .form-control
		margin-bottom: 15px
	.col-right, .col-left
		padding: 0px
		width: 100%
	.popup-title
		text-align: center
		margin-bottom: 20px

// ≥576px
+media-breakpoint-down(xs)


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)
	.slider-confirm-date .bx-wrapper
		margin-left: -60%

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
