.tour
	&-title 
		font-size: 2rem
		color: #000
		font-family: Lato
		font-weight: 700
	&-meta-info
		display: flex
		align-items: baseline
		margin-top: 3rem
button.btn.btn-primary
	max-width: 100%
.end-day
	display: flex
	align-items: center
	width: 50%
.price
	position: relative
	&-regular
		font-size: 2rem
		font-family: Lato
		font-weight: 700
		color: #000

		&-wrap
			position: relative
			display: flex
			align-items: center
			flex-wrap: wrap
			width: 50%


	&-sale 
		position: absolute
		top: -2rem
		left: 0
		text-decoration: line-through
		font-size: 1.5rem
		color: rgba(0,0,0,0.5)

	&-icon
		background: url(../img/price.png)
		background-position: 0 center
		background-repeat: no-repeat
		background-size: contain
		width: 3rem
		height: 3rem
		display: block
		float: left

.discount
	margin: 0 20px
	width: 2.5rem
	height: 2.5rem
	justify-content: center
	align-items: center
	display: flex
	border-radius: 50%
	background: red
	text-align: center
	color: #fff
	font-size: 1rem
	font-weight: 700
	font-family: Lato
	transform: rotate(-25deg)
	transition: 0.5s all

	&:hover
		width: 5rem
		height: 5rem
		transition: 0.5s all

	&-wrap
		width: 60px

	&-exit-date
		color: #000
		font-family: Lato
		font-size: 0.75rem
		



.countend-day
	font-size: 2rem
	font-family: Lato
	font-weight: 700
	color: #000
	margin-left: 1em

.calendar-icon
	background: url(../img/calendar.png)
	background-position: center center
	background-repeat: no-repeat
	background-size: contain
	width: 3rem
	height: 3rem
	display: block
	float: left
