.about-content
	h3
		margin-bottom: 3rem
	&-left
		width: 50%
		float: left
	&-right
		width: 50%
		float: right


.page-content.about
	.row-bg
		padding: 7rem 0
		&:nth-child(even)
			background: #ffffff
			background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #e3eaef 100%)
			background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#e3eaef 100%)
			background: radial-gradient(ellipse at center, #ffffff 0%,#e3eaef 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3eaef',GradientType=1 )

	.social-group-list
		.social-item
			float: right
			width: 100%
			display: block
			border-radius: 0.5rem
			height: 52px
			position: relative
			&.instagram
				background: url(../img/istagram-bg.jpg)
				background-size: cover
				background-repeat: no-repeat
				background-position: center center

			&.facebook
				background: #3864a3
			&.tripadvisor
				background: #38b580
				
				.icon-tripadvisor
					position: absolute
					top: -1px
					left: -35px

			a
				position: relative
				font-size: 3rem
				color: #fff
				line-height: 6rem
				padding: 0 3rem 0
				left: 0
				margin-left: 60px

			.fa
				font-size: 3rem
				color: #fff
				position: absolute
				top: 0px
				left: -20px


.about-img
	width: auto
	padding-left: 7rem
	margin-bottom: 20px
	&-wrap-right
		float: right

	&:hover
		transform: none
.quote
	margin-left: 7rem
	margin-bottom: 3rem
	position: relative
svg.quote-icon
	transform: scale(0.7)
	position: absolute
	left: -8rem
 