
.page-blog
	.blog
		.blog-post-left 
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
		.blog-posts
			max-width: 33.3%
			width: 100%
			padding-left: 50px
		.blog-post-list
			width: 100%
		.blog-img-wrap
			width: 76.3%
			overflow: hidden
			border-radius: 6px
			.img-wrap
				overflow: hidden
				display: block
				border-radius: 6px
		.post-img-wrap-medium
			@extend .blog-img-wrap!optional
			width: 100%
		.flex-grid
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			width: 100%

		li.blog-post-item
			margin-bottom: 30px	
			width: 100%
		.blog-posts.top-blog
			width: 25%
		.blog-post-title
			font-size: 1.5rem
			letter-spacing: -0.5px
			font-weight: 400
		.post-except
			font-size: 1rem
			font-family: lato 
			font-weight: 400
		.post-link
			font-size: 1rem
			font-weight: 700

		.top-blog .post-img-wrap-small
			@extend .blog-img-wrap!optional
			max-width: 40%
			float: left
			width: 100%
			border-radius: 3px

		.top-blog .blog-post-title.title-alt
			font-size: 1.25rem
			display: block
			width: 60%
			float: left
			padding-left: 25px
			color: #000
			text-decoration: none
			cursor: pointer
		.top-blog li.post-item
			width: 100%
			display: inline-block
			clear: both
			margin-top: 25px
		.title-blog, .title-tags
			@extend .tour-title!optional
		.tags
			margin: 50px 0
			.tags-item
				display: inline-block
				.tags-link
					@extend .tags-link!optional
					
		.top-blog h2.title-blog
			margin-top: -10px
		.btn-more-posts
			width: 100%
			text-align: center

/**********      Simple Post           ************/
.page-blog 
	.simple-post-content
		max-width: 75%
		.post-content
			margin-bottom: 7rem
		img
			padding: 5rem 7rem
			&:hover
				transform: none

		span
			margin: -3rem auto 0
			text-align: center
			width: 100%
			display: block
			opacity: 0.5
			font-size: 2rem
			font-style: italic
	.footer-simple-post
		display: flex
		justify-content: space-between
		.footer-left
			margin: 0
		.footer-right
			text-align: right
			float: left

			.title-tags
				float: left
				font-size: 1em
				margin-right: 1rem
			.tags-list
				float: left
				.tags-item
					display: inline-block
					.tags-link
						@extend .tags-link!optional
.post-item-wrap
	height: 100%
	display: flex
	align-items: center
	flex-direction: column
.top-blog-post-list .post-item-wrap
	flex-direction: row

