.page-book-tour
	.section-title
		font-size: 3rem
		text-align: left
		margin-top: 0
	.title-center
		text-align: center	
	.tour-wrap-img
		position: relative
		overflow: hidden
		border-radius: 6px
		&.star-icon
			&:before
				content: ''
				position: absolute
				right: 25px
				z-index: 1
				width: 0
				height: 0
				border-width: 40px 20px 10px
				border-style: solid
				border-color: #e54040 #e54040 transparent
			&:after
				content: ''
				position: absolute	
				background: url(../img/icon-star.svg)
				background-repeat: no-repeat	
				background-position: center
				background-size: cover
				z-index: 2
				right: 32px
				top: 8px
				width: 25px
				height: 25px
	.tour-name
		font-size: 3rem
		margin-top: 10px
		display: block
	.tour-city
		margin-bottom: 10px
	.tour-meta-info
		margin: 4rem 0 3rem

	.end-day
		width: 50%
		 align-self: baseline
	.discount-exit-date
		margin-left: 40px
		max-width: 120px
.list-tors>.row
	padding: 5rem 0 7rem
	&:nth-child(even)
		background: #edf1f5
