.page-destination, .page-pay
	.col-lg-3, .col-md-8 
		margin: 0 auto

	.small-page-title
		width: 100%
		margin: auto
		text-align: center
		color: #fff
		margin: auto
		position: relative
		font-size: 3rem
	.destination_title
		margin-bottom: 50px
	.destination-content
		margin-bottom: 60px

		.highlights-list 
			list-style: none
			margin-left: 9rem
			li
				position: relative
				&:before
					content: "\2022"
					color: #63cdd7
					font-weight: bold
					display: inline-block
					width: 1em
					position: absolute
					left: -4.5rem
	.positive-negative
		margin-top: 50px
		display: flex
		flex-direction: row
		justify-content: space-between
		flex-wrap: wrap

	.positive
		border-left: 0.5rem solid #63cdd7
		background: #e3eaef
		padding: 10px 50px 25px
		max-width: 48%
		width: 100%
	.negative
		border-left: 0.5rem solid #e94a77
		background: #e3eaef
		padding: 10px 50px 25px
		max-width: 48%
		width: 100%


	.itinerary 
		li
			margin: auto
			position: relative
			list-style: none
			counter-increment: section
			position: relative
			width: calc(100% - 100px)
			margin: 20px 0
			position: relative
			padding-right: 20px
			span
				border-radius: 50%
				border: 3px solid #9ed3e2
				width: 65px
				height: 65px
				display: block
				position: absolute
				top: 50%
				margin-top: -50px
				left: 100%
				&:before
					content: counter(section)
					position: absolute
					border-radius: 50%
					top: 40%
					text-align: center
					margin-top: -25px
					display: block
					height: 50px
					width: 100%
					font-weight: 700
					text-align:center
					color: #9ed3e2
					font-size: 110%
					font-size: 1.75rem

				&:after
					content: 'day'
					position: absolute
					width: 100%
					height: 50px
					text-align: center
					z-index: 100
					display: block
					color: #9ed3e2
					font-weight: 700
					top: 50%
					font-size: 1rem
					text-transform: uppercase

	.side-bar
		.widget-title
			@extend .h_2!optional
			text-align: center
		.widget-subtitle
			text-align: center
			
		.widget-wrap
			.img-wrap
				margin-top: 30px

	.map-1
		fill: transparent
	.map-1.active
		fill: #9ed3e2
	.rate
		text-align: center
		margin: 20px 0
	.right-number
		margin: 10px 0
	.number-travellers
		text-align: center
		margin: auto
	#number-travellers
		width: 50px
		text-align: center
		vertical-align: top
	.price-regular-wrap
		width: 100%
		justify-content: center
		.price-regular
			margin-left: 20px
	.price-sale
		position: relative
		top: 0
		left: 0
		margin-left: 20px
	.discount-wrap
		width: 100%
		margin-bottom: 30px
	span.discount
		float: left
	.info-type-tour
		margin: 15px 0
		padding: 15px 0
		border-top: 2px solid #f1f4f7
		border-bottom: 2px solid #f1f4f7
		table
			margin: auto
			
	.type-tour-item
		display: block
		width: 50%
		float: left
		text-align: center
		margin-bottom: 30px
		span
			width: 50px
			height: 50px
			display: block
			margin: auto
			background-repeat: no-repeat
			background-size: cover!important
			background-position: center center
			&.icon-duration
				background: url(../img/duration.svg)
			&.icon-type-tour
				background: url(../img/type-tour.svg)
			&.icon-activity
				background: url(../img/activity.svg)			
			&.icon-age
				background: url(../img/age.svg)		




	.gallery
		padding-top: 50px
		background: #ffffff
		background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #e3eaef 100%)
		background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#e3eaef 100%)
		background: radial-gradient(ellipse at center, #ffffff 0%,#e3eaef 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3eaef',GradientType=1 )
		margin-bottom: 60px

	.photo-gallery-wrap
		margin: 50px 0 0

	.reviews-content
		@extend .feedback-except!optional
		margin-left: 60px

	.reviews
		margin-bottom: 60px
		&-item	
			margin-bottom: 50px

	.reviews-author
		font-size: 1.5rem
		font-weight: 700
		display: inline-block
	.reviews-meta
		float: right
		display: inline-block
		.date
			font-size: 1.125rem
			font-weight: 700
			margin-right: 40px





	.gallery-img,
		@extend .img-wrap!optional
	.tour-name
		@extend .tour-name!optional
	.tour-city
		@extend .img-wrap!optional