@import "vars"
/*@import "fonts" */
@import "libs"

::selection
	background-color: $accent
	color: #fff
html
	font-size: 16px
	overflow-x: hidden
body
	min-width: 320px
	position: relative
	line-height: 1.25
	overflow-x: hidden
	font-size: 1.25rem
	font-family: Lato
	color: $text
	width: 100%
	max-width: 100%
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
img
	display: block
	max-width: 100%
	max-height: 100%
	width: 100%
	height: auto
	transition: all .4s ease-in-out
	transform: scale(1)
	&.img-width
		width: 100%
	&:hover
		transform: scale(1.1)
		transition: all .4s ease-in-out
img.not-scale:hover
		transform: none
a
	color: #075aa7
	text-decoration: none
	outline: none
	&:hover
		text-decoration: none
		outline: none
.container
	max-width: 1280px
	margin: auto

.bx-wrapper
			border-color: transparent!important
			box-shadow: none!important
.text-center
	text-align: center

b, strong
	font-weight: bold
ul
	list-style: none
	margin: 0
	padding: 0
.top
	position: relative
	width: 100%
	height: 100%

.header
	position: absolute
	display: flex
	flex-direction: column
	width: 100%
	z-index: 100
	transition : 0.5s background
	height: 0

	.sticky
		position: fixed
		top: 0
		left: 0
		width: 100%
		height: auto
		transition : 2s height
		background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(124,183,230,0) 99%, rgba(125,185,232,0) 100%)
		background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(124,183,230,0) 99%,rgba(125,185,232,0) 100%)
		background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(124,183,230,0) 99%,rgba(125,185,232,0) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=0 )

	&-top
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		justify-content: space-between
		width: 100%
		margin: 20px auto
	&-menu 
		max-width: 50%
		width: 100%
		margin: 10px auto
		display: flex
		position: relative
.logo-wrap
	max-width: 430px
	margin-right: 90px
	

.menu-list
	list-style: none
	display: flex
	justify-content: space-between
	align-items: center
	width: 100%;
	padding: 0
	.menu-link
		padding: 5px
		font-size: 1rem
		font-weight: 400
		color: #fff
		text-decoration: none
		text-transform: capitalize
		position: relative
		&:after
			content: ''
			width: 0
			position: absolute
			bottom: 0
			left: 0
			right: 0
			height: 1px
			margin: auto
			background: #fff
			transition: width 0.2s
		&:hover:after
			width: 70%
			transition: width 0.2s

.menu-bars
	position: absolute
	right: 30px
	top: 20px
	display: none
	position: absolute
	top: 0
	bottom: 0
	margin: auto
	right: 0
	height: 30px
	.fa
		font-size: 32px
		color: #fff
.social
	width: 21%
	min-width: 200px
	
.search-form
	margin: 10px 25px 10px 0
.input-group
	position: relative
	width: 150px
.form-control
  background: transparent
  border-radius: 30px
  border: 1px solid #fff
  padding: 5px
  width: 100%

.input-search
	width: 0
	overflow: hidden
.search-icon
	position: absolute
	right: 10px
	top: 4px
	.fa
		font-size: 1.5625rem
		color: #fff
.social-item
	float: left
	margin: 10px 6px
	width: 2.25rem
	height: 2.25rem
	line-height: 2rem
	background: #fff
	text-align: center
	border-radius: 50%
	.fa
		color: #000
		font-size: 1.25rem
.icon-tripadvisor
	background-image: url(../img/tripadvisor.png)
	background-position: center center
	background-repeat: no-repeat
	background-size: contain
	width: 1.5rem
	height: 1.5rem
	display: block
	margin: 4px auto
.page-header-background
	background: url(../img/blog_backround.jpg)
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	width: 100%
	min-height: 450px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-ms-align-items: center
	align-items: center
.header-page-title
	font-family: Lato
	font-weight: 700
	font-size: 4rem
	text-align: center
	margin: auto
	text-transform: uppercase
	color: #fff
.page-content
	padding: 110px 0 12rem
	position: relative
	z-index: 1
.section-title
	font-size: 4rem
	text-transform: uppercase
	font-family: Lato
	font-weight: 600
	color: #383b3f
	margin: 4rem auto 2rem
	text-align: center
#slider-header, .front-page .slider-header-wrap
	height: 100vh
.slider-header-wrap .bx-viewport
		height: auto!important
.slider-header
	&-overlay
		background: url(../img/cloude.png)
		background-position: bottom center
		background-size: cover
		background-repeat: no-repeat
		min-height: 300px
		width: 100%
		position: absolute
		bottom: -160px
		z-index: 1


	
.home1
	.header-slider-item
		background-size: cover
		background-position: center center
		background-repeat: no-repeat
		display: block

	.slider-header
		&-wrap
			width: 100vw
			position: relative
			top: 0
			left: 0
			right: 0

		&-item
			height: 100vh

			position: relative
			.bx-wrapper
				.slider-header-img
	.slider-header-item	img:hover
		transform: none
	.slider-title
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		padding-top: 120px
		margin: auto
		height: 200px

	.page-title
		width: 460px
		height: 70px
		color: #ffffff
		font-family: Lato
		font-size: 64px
		font-weight: 700
		line-height: 72px
		margin: 100px auto 0
		text-transform: uppercase
	.title-img-wrap, .title-wrap
		display: block
		width: 100%
		margin: auto
		text-align: center
	.title-img-wrap	
		max-width: 30%
	.title-img
		width: auto
		margin: auto
		position: relative
		&:hover
			transform: none

	.page-desc
		background: rgba(0,0,0,0.4)
		color: #fff
		font-size: 2rem
		width: auto
		display: inline-block
		padding: 0 15px
		margin: 25px auto
		letter-spacing: 2px

	.game
		width: 100vw
		&-bg
			z-index: 10
			position: relative
			width: auto
			height: auto
			margin: auto
			&:hover
				transform: none
		&-btn
			background: #63cdd7
			background: -moz-linear-gradient(top, #63cdd7 0%, #4e85ce 100%)
			background: -webkit-linear-gradient(top, #63cdd7 0%,#4e85ce 100%)
			background: linear-gradient(to bottom, #63cdd7 0%, #4e85ce 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63cdd7', endColorstr='#4e85ce',GradientType=0 )
			width: 100%
			border-radius: 50%
			height: 100%
			vertical-align: middle
			margin: auto
			align-items: center
			justify-content: center
			display: flex

			&-icon
				position: absolute
				background: url(../img/icon-click.png)
				background-position: center center
				background-repeat: no-repeat
				-webkit-background-size: contain
				background-size: contain
				width: 1.625rem
				height: 2.625rem
				margin: auto
				left: 10px
				right: 0
				bottom: 12%
				transition: all .4s ease-in-out
			
			&-action
				width: 100%
				height: 300px
				position: relative
				z-index: 10
				display: flex
				align-items: center

			&-title
				color: #fff
				font-size: 2rem
				transition: all .4s ease-in-out
			&-border
				position: absolute
				width: 100%
				margin: auto
				text-align: center
				width: 17.5rem
				height: 17.5rem
				display: flex
				box-shadow: 0px 0px 100px -10px #63cdd7
				border: 1px solid #4e85ce
				border-radius: 50%
				left: 0
				right: 0
				top: 0
				bottom: 0
				transition: all .4s ease-in-out
				z-index: 10
				zoom: 1

				&:hover
					width: 18rem
					height: 18rem
					transition: all .4s ease-in-out
					box-shadow: inset 0px 0px 100px -10px #63cdd7
					.game-btn-icon
						transition: all .4s ease-in-out
						width: 4.5rem
						height: 7r
			


			



	.map-bg .section-title
		margin-bottom: 0
	.maping-bg
		background: url(../img/maping_bg@2x.png)
		background-position: center -2%
		background-repeat: no-repeat
		-webkit-background-size: contain
		background-size: contain
		display: flex
		justify-content: flex-end
		width: 100%
		// height: calc(97vh - 300px)
		position: relative
		svg
			position: relative
			width: 100%
			
			.map-1
				fill: #9ed3e2
				opacity: 0
				z-index: 100
				&:hover, &.active
					-webkit-transition: opacity 0.2s ease
					-o-transition: opacity 0.2s ease
					transition: opacity 0.2s ease
					opacity: 1
					cursor: pointer

		.bx-wrapper
			width: 20.125rem
			margin: 0!important

	.gallery-tour-wrap
		position: absolute
		top: 80px
		z-index: 100
		left: calc(100% - 450px)
		box-shadow: 0 0 100px rgba(158,211,226,0.6)
	.top-news 
		max-width: 322px
		width: 100%
		background: #fff
		padding: 1.562rem
		margin-right: 15.62rem
		display: table

		&-img-wrap
			overflow: hidden

		&-title 
			font-size: 1.5rem
			font-family: Lato
			font-weight: 600
			margin-top: 10px
			color: #000
	.except-tour 
		font-size: 1.125rem
		font-family: Lato
		color: #000

	.count-tour-link 
		font-size: 100%
		color: #075aa7
		font-family: Lato
		font-weight: 700
		text-transform: capitalize

	.best-tour
		margin-top: 15rem
		background: #e3eaef
		background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #e3eaef 100%)
		background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#e3eaef 100%)
		background: radial-gradient(ellipse at center, #ffffff 0%,#e3eaef 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3eaef',GradientType=1 )
		padding: 3.625rem 0 4.826rem

		&-wrap
			position: relative
			max-width: 100%
			margin-top: 2rem

	.bx-wrapper
		background: transparent
		box-shadow: none
		border: none


	.item-tour
		display: flex
	.item-tour-wrap
		margin: auto
		width: 100%
		position: relative
		display: flex
		flex-direction: row-reverse
		.tour-img-wrap
			border-radius: 6px
			width: 100%
			max-width: 50%
			overflow: visible
			float: right
			background: rgb(246,248,250)
			background: -moz-linear-gradient(top, rgba(246,248,250,1) 0%, rgba(243,246,248,1) 100%)
			background: -webkit-linear-gradient(top, rgba(246,248,250,1) 0%,rgba(243,246,248,1) 100%)
			background: linear-gradient(to bottom, rgba(246,248,250,1) 0%,rgba(243,246,248,1) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8fa', endColorstr='#f3f6f8',GradientType=0 )
			.tour-img
				img
					border-radius: 6px
					height: 100%
					width: auto!important
					max-width: none!important
				float: left
				border-radius: 6px
				height: 340px
				overflow: hidden
				width: 70%
				height: 440px
				max-width: 640px
			.tour-img:last-child
				position: absolute
				width: 19%!important
				left: -117%
	.tour-content 
		width: 100%
		max-width: 50%
		position: relative
		padding-right: 6.25rem 
		min-height: auto
		z-index: 100
		float: left
		background: rgb(246,248,250)
		background: -moz-linear-gradient(top, rgba(246,248,250,1) 0%, rgba(243,246,248,1) 100%)
		background: -webkit-linear-gradient(top, rgba(246,248,250,1) 0%,rgba(243,246,248,1) 100%)
		background: linear-gradient(to bottom, rgba(246,248,250,1) 0%,rgba(243,246,248,1) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8fa', endColorstr='#f3f6f8',GradientType=0 )
		.content-right
			margin-left: auto
			max-width: 600px
			.tour-title
				font-size: 2rem
		.except-tour
			font-size: 1.5rem
			margin-top: 1.5rem
		

	.btn
		
		&-primary
			background: #075aa7

		&-bottom
			position: absolute
			bottom: 0

		&-alt
			background: rgba(117,129,137,0.5)

	.button-group
		width: 33rem
		float: right

		&-tour 
			position: absolute
			bottom: 0
			left: calc( 50% + -26.625rem )


	.prev-tuor
		width: 7rem
		padding-left: 16px	

	.next-tuor
		width: 24rem
		font-weight: 400

	.section-desc
		text-align: center
		font-size: 2rem
		max-width: 1500px
		margin: 0 auto 5rem
		max-width: 70%


	.blog
		&-img-wrap 
			position: relative
			border-radius: 6px
			overflow: hidden

		&-new-post
			padding: 4.5rem 0 2.5rem
			width: 100%
			.col-md-6
				padding: 0

		&-post
			&-list
				width: 100%
				margin: 0
			&-item
				width: 50%
				display: block
				float: left
				padding-left: 50px

			&-title
				font-size: 1.5rem
				font-weight: 700
	.post-item-wrap .title-alt
		padding-left: 0!important


	.post
		&-wrap
			padding: 0 3.28rem 1.56rem

		&-item-wrap
			flex-direction: column
			align-items: flex-start

		&-img-wrap
			@extend .blog-img-wrap 
			

		&-bottom 
			position: absolute
			width: 100%
			bottom: 0
			color: #fff
			z-index: 20
		&-overlay	
			position: absolute
			width: 100%
			height: 100%
			top: 0
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%)
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%)
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ) 
			z-index: 10
			&:hover + img
				transform: scale(1.1)
				transition: all .4s ease-in-out

	.link-alt
		color: #fff
	#quiz-link
		width: 100%
	#quiz>form .step
		display: block
		height: 100%
	.step-nav
		position: absolute
		top: 0
		width: 100%
	  
.feedback 
	margin-bottom: 8.5rem

	&-img-wrap 
		max-width: 350px
		max-height: 350px
		border-radius: 50%
		overflow: hidden
		margin: auto

	&-item-wrap
		text-align: center
		padding-top: 1.5rem
		margin-left: 10px

	&-title 
		font-size: 1.5rem
		font-family: Lato
		font-weight: 700
		margin: 3rem auto 1rem 3rem
	&-desc 
		color: #075aa7
		font-weight: 700
		position: relative
		margin-bottom: 10px

	&-content-wrap
		max-width: 600px
		margin: 10px auto 0 45px
		color: #000
		text-align: left
	&-except
		position: relative
		font-family: Lato
		font-style: italic
		font-size: 1.125rem
		margin-top: 10px
		&:before
			content: ''
			background: url(../img/icon-quote.png)
			background-position: center center
			background-repeat: no-repeat
			background-size: contain
			position: absolute
			left: -4em
			width: 2em
			height: 2em
			top: 0px
	.bx-viewport
		height: auto!important

.bx-controls.bx-has-controls-direction.bx-has-pager,
.bx-pager.bx-default-pager
	display: none

.bx-wrapper .feedback-img-wrap img
	width: 100%


/********       footer             *************/
.footer
	&_bg
		background: #e3eaef
		padding-top: 25rem
		position: relative

	&-overlay
		background: url(../img/cloude-footer.png)
		background-size: cover
		background-position: center center
		background-repeat: no-repeat
		position: absolute
		top: -150px
		width: 100%
		height: 300px

	&_title
		text-align: center
		margin: auto

	&-bottom
		@extend .header-top
		width: 100%
		display: flex
		justify-content: space-around
		align-items: center 

		.logo
			max-width: 180px

	&-menu 
		@extend .header-menu
		.menu-link 
			color: #000

.input-group
	&-email
		margin: 3rem auto 12rem
		max-width: 35rem
		width: 100%
		text-align: center
		.form-control
			display: inline-block
			max-width: 20.725rem
			background: #fff
			font-size: 1.5rem
			border-radius: 0.5rem
			padding-left: 40px
	&-append
		max-width: 13rem
		width: 100%
		display: block
		float: right




