.page-pay
	.item-date
		text-align: center
		min-width: 100px
		.tour-date
			background: #9ed3e2
			border-top-left-radius: 4px
			border-top-right-radius: 4px
			color: #fff
			font-size: 1.75rem
			font-weight: 700
		.tour-price
			margin-top: 2px
			background: #f1f4f7
			border: 1px solid transparent
			border-bottom-left-radius: 4px
			border-bottom-right-radius: 4px
			font-size: 1.75rem
			font-weight: 400
			color: #000
	
		&.active
			.tour-date
				background: #075aa7
			.tour-price
				border: 1px solid #075aa7
				font-weight: 700

		&.unavailable
			.tour-date
				background: #bac0c4
			.tour-price
				border: 1px solid transparent
				color: #d1d3d6
	.bx-wrapper
		margin-bottom: 30px
	.confirm-date
		float: right
		li
			float: left
			margin-right: 15px
			font-style: italic
			span
				width: 12px
				height: 12px
				display: inline-block
				margin-right: 2px
				&.selected
					background: #075aa7
				&.not-available
					background: #bac0c4

	label
		
		width: 140px
	input, select
		width: 240px
		background: #f0f3f7
		height: 45px
		border-radius: 4px
		margin: 15px 0


	textarea
		width: 240px
		background: #f0f3f7
		border-radius: 4px
		margin: 15px 0
		height: auto
	.accept-conditions 
		input[type="checkbox"]
			width: 28px
			height: 28px
			display: inline-block
		label
			width: 85%
			display: inline-block
			vertical-align: middle
			margin-left: 10px
			height: 35px
	.total
		@extend .h_3!optional
		margin: 30px 40px
	.politic
		margin: 50px 0 50px 40px
	.pay-btn
		min-width: 360px
		margin: auto
	.number-travellers, .meta-info, .discount-wrap
		margin: auto
		width: 100%
	.discount-wrap
		max-width: 300px		
	input#number-travellers
		vertical-align: top
		margin: 0
		padding: 0
		height: auto
	input[type="date"]
		width: 15%
