/*************** Quiz games     **************/
#quiz 
	max-width: 768px
	max-height: 868px
	width: 100vw
	position: fixed
	left: 0
	right: 0
	top: 0
	bottom: 0
	margin: auto
	display: none
	z-index: 999
	.close-quiz
		position: absolute
		right: 0
		zoom: 0.5
		margin: 30px
		z-index: 100
	.prev svg
		zoom: 0.5
		margin: 30px
	form, fieldset
		width: 100%
		height: 100%
		position: relative
	.quiz
		background-repeat: no-repeat
		background-size: cover
		background-position: center center
		width: 100%
		height: 100%
		padding-top: 4rem
		text-align: center

		&-title
			color: #fff
			font-size: 2rem
			font-weight: 700
		&-subtitle
			color: #fff
			font-size: 1.5rem
			font-weight: 700
			margin-bottom: 30px

		&-select
			position: absolute
			left: 0
			right: 0
			bottom: 0
			top: 0
			margin: auto
			height: 4rem	
			max-width: 640px
			width: 100%
			select
				width: 100%
				height: 36px
				background: rgba(255,255,255,0.2)
				color: #fff
				border: 2px solid  #fff
		&-inner
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			max-width: 640px
			width: 100%
			justify-content: space-between
			align-items: center
			margin: 0 auto 32px
		.w100
			max-width: 100%
			width: 100%!important
		.icon
			width: 130px
			height: 130px
			position: absolute
			left: 0
			right: 0
			top: -20px
			bottom: 0
			margin: auto
			&-title
				color: #fff
				font-size: 3rem
				bottom: 35px
				position: absolute
				left: 0
				right: 0
				width: 100%
				margin: auto
		.icon-day
			background: url(../img/day.svg)
			background-size: contain
			background-position: center
			background-repeat: no-repeat
		.icon-night
			background: url(../img/night.svg)
			background-size: contain
			background-position: center
			background-repeat: no-repeat
		.icon-time
			background: url(../img/time.png)
			background-size: contain
			background-position: center
			background-repeat: no-repeat
		.icon-air
			background: url(../img/air.png)
			background-size: contain
			background-position: center
			background-repeat: no-repeat		
		.icon-peace
			background: url(../img/peace.svg)
			background-size: contain
			background-position: center
			height: 125px
			background-repeat: no-repeat
			
		.icon-chair
			background: url(../img/chair.svg)
			background-size: contain
			background-position: center
			background-repeat: no-repeat
		.icon-relax
			background: url(../img/relax.png)
			background-size: contain
			top: -40px
			background-position: center
			background-repeat: no-repeat
		.icon-move
			background: url(../img/move.svg)
			background-size: contain
			background-position: center
			background-repeat: no-repeat		
		.icon-spped
			background: url(../img/spped.png)
			background-size: contain
			background-position: center
			background-repeat: no-repeat
		.icon-bear
			background: url(../img/bear.png)
			background-size: contain
			background-position: center
			background-repeat: no-repeat

		.icon-tiger
			background: url(../img/tiger.png)
			background-size: contain
			background-position: center
			background-repeat: no-repeat

		.icon-fox
			background: url(../img/fox.png)
			background-size: contain
			background-position: center
			background-repeat: no-repeat

		.icon-elk
			background: url(../img/elk.png)
			background-size: contain
			background-position: center
			background-repeat: no-repeat
		.icon-ranger
			background: url(../img/ranger.png)
			background-size: contain
			background-position: center
			background-repeat: no-repeat		
		.icon-team
			background: url(../img/team.png)
			background-size: contain
			background-position: center
			background-repeat: no-repeat			
	.quiz.active
		display: block
	.icon_bg
		background: rgba(255,255,255,0.4)
		width: 50%
		display: block
		float: left
		max-width: 305px
		height: 305px
		position: relative

	#location
		background: url(../img/location_bg.jpg) no-repeat center
		background-size: cover
	#time-of-day
		background: url(../img/time-of-day_bg.jpg) no-repeat center
		background-size: cover
	#indoor
		background: url(../img/indoor_bg.jpg) no-repeat center
		background-size: cover
	#activity
		background: url(../img/activity_bg.jpg) no-repeat center
		background-size: cover
	#animal
		background: url(../img/animal_bg.jpg) no-repeat center
		background-size: cover
	#individual
		background: url(../img/individual_bg.jpg) no-repeat center
		background-size: cover
	#play
		background: url(../img/play_bg.jpg) no-repeat center
		background-size: cover
	.play-title
		font-size: 4rem
		color: #fff
		text-transform: uppercase
		font-weight: 700
		line-height: 1.25
	.play-desc
		color: #fff
		font-size: 1.5rem
		text-align: center
	a.btn.btn-primary
		width: 100%
		max-width: 100%
		line-height: 36px
		color: #fff
	.btn-transparent	
		background: rgba(117,129,137,0.5)
		border: none!important
		box-shadow: none!important
	.inner	
		max-width: 640px
		margin: auto

	label
		position: absolute
		width: 100%
		height: 100%
		left: 0
		top: 0
		right: 0
		bottom: 0
		z-index: 1
	input[type="radio"]
		opacity: 0
		width: 0
		height: 0
		display: none
		&:active+label



