.tour
	&-title 
		font-size: 2rem
		color: #000
		font-family: Lato
		font-weight: 700
	&-meta-info
		display: flex
		align-items: center
		margin-top: 1.5rem
button.btn.btn-primary
	max-width: 100%
.end-day
	display: flex
	align-items: center
	width: 50%
.price
	&-regular
		font-size: 1.5rem
		font-family: Lato
		font-weight: 700
		color: #000

		&-wrap
			position: relative
			display: flex
			align-items: center
			flex-wrap: wrap
			width: 50%

	&-sale 
		position: absolute
		top: -1.5rem
		left: 2.5rem
		text-decoration: line-through
		font-size: 1rem
		color: rgba(0,0,0,0.5)

	&-icon
		background: url(../img/price.png)
		background-position: 0 center
		background-repeat: no-repeat
		width: 43px
		height: 43px
		display: block
		float: left

.discount
	margin: 0 20px
	width: 2.2rem
	height: 2.2rem
	justify-content: center
	align-items: center
	display: flex
	border-radius: 50%
	background: red
	text-align: center
	color: #fff
	font-size: 1.5rem
	font-weight: 700
	font-family: Lato
	transform: rotate(-25deg)
	transition: 0.5s all

	&:hover
		width: 5rem
		height: 5rem
		transition: 0.5s all

	&-wrap
		width: 80px

	&-exit-date
		color: #000
		font-family: Lato
		font-size: 1.5rem
		line-height: 2.25rem



.countend-day
	font-size: 1.5rem
	font-family: Lato
	font-weight: 700
	color: #000
	margin-left: 1em

.calendar-icon
	background: url(../img/calendar.png)
	background-position: center center
	background-repeat: no-repeat
	width: 43px
	height: 43px
	display: block
	float: left
