//search result not found and 404error page
.not-found {
	.page-header{
		text-align:center;
	}
	.page-content {

	    text-align: center;

	    p.search-again {
		    font-size: 16px;
		    font-weight: 600;
		}

		.search-field{
			width:50%;
			padding:10px 15px;
		}
		.search-submit{
			padding: 12px 40px;
			margin-left: -5px;
			border-radius: 0;
		}
	}
}