.gallery {
	margin-bottom: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
	.gallery-item {
		border: 3px double #ddd;
		max-width: 100%;
		display: inline-block;
		text-align: center;
		vertical-align: top;
		overflow: hidden;
		position: relative;
		border-bottom: none;
		margin: 0 15px 15px 0;
		padding: 0;
		line-height: 0;
		width: 273px;
		&:last-of-type {
			margin-right: 0;
		}

		.gallery-icon {
			width: 100%;

			&:hover{
				a:before{
					background-color: rgba(0, 0, 0, 0.4);
				}
				a:after{
					top: calc(50% - 15px);
				}
			}
			a {
				display: block;
				&:after {
				    display: block;
				    content: "\f067";
						font: normal normal normal 25px/1 FontAwesome;
				    height: 25px;
				    width: 25px;
				    position: absolute;
				    left: calc(50% - 15px);
				    top: -100px;
				    color: #fff;
						text-rendering: auto;
						-webkit-font-smoothing: antialiased;
						-webkit-transition: all 0.5s ease;
						-moz-transition: all 0.5s ease;
						-o-transition: all 0.5s ease;
						transition: all 0.5s ease;
				}

				&:before{
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						background-color: transparent;
						display: block;
						width: 100%;
						height: 100%;
						-webkit-transition: all 0.5s ease;
						-moz-transition: all 0.5s ease;
						-o-transition: all 0.5s ease;
						transition: all 0.5s ease;
				}
			}
			img {
					object-fit: cover;
					width: 100%;
					max-width: 100%;
					top: 0;
					left: 0;
					display: block;
					margin-bottom:0;
			}
		}

		.gallery-caption {
		    display: none;
		}
	}
}
.gallery-columns-1{
	figure{
		width: calc(100% * (1/1));
	}
} 
.gallery-columns-2{
	figure{
		width: calc(100% * (1/2));
	}
}
.gallery-columns-3{
	figure{
		width: calc(99.9% * (1/3));
		@include xs{
			width:calc(99.9% * (1/2));
		}
	}
} 
.gallery-columns-4{
	figure{
		width: calc(100% * (1/4));
		@include mob{
			width:calc(99.9% * (1/2));
		}
	}
}
.gallery-columns-5{
	figure{
		width: calc(100% * (1/5));
		@include mob{
			width:calc(99.9% * (1/3));
		}
		@include xs{
			width:calc(99.9% * (1/2));
		}
	}
} 
.gallery-columns-6{
	figure{
		width: calc(99.9% * (1/6));
		@include mob{
			width:calc(99.9% * (1/3));
		}
		@include xs{
			width:calc(99.9% * (1/2));
		}
	}
} 
.gallery-columns-7{
	figure{
		width: calc(99.9% * (1/7));
		@include sidr-view{
			width:calc(99.9% * (1/5));
		}
		@include mob{
			width:calc(99.9% * (1/4));
		}
		@include xs{
			width:calc(99.9% * (1/2));
		}
	}
} 
.gallery-columns-8{
	figure{
		width: calc(99.9% * (1/8));
		@include sidr-view{
			width:calc(99.9% * (1/6));
		}
		@include mob{
			width:calc(99.9% * (1/4));
		}
		@include xs{
			width:calc(99.9% * (1/2));
		}
	}
}
.gallery-columns-9{
	figure{
		width: calc(99.9% * (1/9));
		@include sidr-view{
			width:calc(99.9% * (1/6));
		}
		@include mob{
			width:calc(99.9% * (1/4));
		}
		@include xs{
			width:calc(99.9% * (1/2));
		}
	}
}
// @include sidr-view {
//     .gallery figure{
// 				width: calc(100% * (1/3));
// 		}
// }
