// # Normalize
html {
  font-family: $text-fonts;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust:     100%;
}

body {
  background: #f9f9f9;
  line-height: 22px;
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: $mark-color;
  color: $mark-bg-color;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  font-size: 100%;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  border: 1px solid #b3b3b3;
  padding: 3px 5px;
  text-align:left;
}

// Typography.

body,
button,
input,
select,
textarea {
	color: $text-color;
	font-family: $text-fonts;
	font-size: 14px;
	line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	font-size: 0.9375rem;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 0;
}
kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.25);
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

// Elements

html {
box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
box-sizing: inherit;
}


blockquote:before,
blockquote:after,
q:before,
q:after {
display: block;
}

blockquote:before, q:before{

	content: '\201C';
	
}
blockquote:after, q:after{

  content: '\201D';
  
}



hr {
background-color: #ccc;
border: 0;
height: 1px;
margin-bottom: 1.5em;
}

ul,
ol {
margin: 0 0 1.5em 3em;
}

ul {
list-style: disc;
}

ul ul{
list-style: circle;  
}
ul ul ul, ul ol ul{
  list-style:square;
}
ol {
list-style: decimal;
}

li > ul,
li > ol {
margin-bottom: 0;
margin-left: 1.5em;
}
dt {
font-weight: bold;
}

dd {
margin: 0 1.5em 1.5em;
}

img {
height: auto; /* Make sure images are scaled correctly. */
max-width: 100%; /* Adhere to container width. */
}

figure {
margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
margin: 0 0 1.5em;
width: 100%;
}

// # Forms

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: $button-bg;
	color: $button-text-color;
	font-size: 16px;
	line-height: 1.5;
	padding: .5em 1em 0.5em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: $button-bg-hover;
  color: $button-text-color-hover;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}
//break long text
.break-all-word{
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
// # Navigation
// ## Links
a{
  background-color: transparent;
  color: $link-color;
  text-decoration: none;
  text-shadow: none;
  
  @include transition(color 300ms, background-color 300ms);
}

a {
 &:hover,
 &:focus,
 &:active {
   outline: 0;
 }
}

//
//
//
.clearfix {
  zoom: 1;

  &:before,
  &:after {
    clear: both;
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  @extend .break-all-word;
}

h1 {
  color: $h1-color;
  font-size: 36px;
}

h2 {
  color: $h3-color;
  font-size: 26px;
}

h3 {
  color: $h3-color;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
}

h4,
h5,
h6 {
  color: $heading-color;
}
h4{
 font-size:18px
}
h5{
  font-size: 16px;
}
h6{
  font-size: 14px;
}
p {
  color: $text-color;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 15px;
  @extend .break-all-word;
}
span{
  @extend .break-all-word;
}
select {
  background: $white !important;
}

input[type="search"] {
  color: #272727;
  border: 2px solid #ddd;
  @include box-sizing(content-box, textfield);
}

// Customizer hack
.travel-log-show-partial-edit-shortcut {
 .customize-partial-edit-shortcut {
  left: 4%;
  z-index: 100;
 }
}

//arrow
.slick-next:before,.slick-prev:before {color: #555;font-family: fontawesome;}
.slick-next:before {content:'\f105';}
.slick-prev:before {content:'\f104';}

//alignments
.alignleft {display: inline;float: left;margin-right: 1.5em;}
.alignright {display: inline;float: right;margin-left: 1.5em;}
.aligncenter {clear: both;display: block;margin-left: auto;margin-right: auto;}

//widgets
.widget {margin: 0 0 1.5em;}
.widget select {max-width: 100%;}

//post and page
.sticky {display: block;}
.hentry {margin: 0 0 1.5em;}
.byline,.updated:not(.published) {display: none;}
.single .byline,.group-blog .byline {display: inline;}
.page-content,/* .entry-content, */.entry-summary {margin: 1.5em 0;}
.page-links {clear: both;margin: 0 0 1.5em;}

//comments
.comment-content a {word-wrap: break-word;}
.bypostauthor {display: block;}

//infinite-scroll
.infinite-scroll .posts-navigation, .infinite-scroll.neverending .site-footer {display:none;}
.infinity-end.neverending .site-footer {display: block;}

//media
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

//posted date
// .posted-on time{
//   font-style: italic;
// }
/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

//captions
.wp-caption {margin-bottom: 1.5em;max-width: 100%;}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption .wp-caption-text {margin: 0.8075em 0;}
.wp-caption-text {text-align: center;}

//section
section {
  padding: 50px 0;
}
