
#onload {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #fff;
    z-index: 9999;
    top: 0;
}

// .loader-active{
//   display: none;
// }
#loader {
    position: fixed;
     width:216px;
    height:26px;
    margin: 0 auto;
    top: 45%;
    z-index: 999;
    left: 0;
    right: 0;
}
.fountainG{
  position:absolute;
  top:0;
  width:26px;
  height:26px;
  animation-name:bounce_fountainG;
    -o-animation-name:bounce_fountainG;
    -ms-animation-name:bounce_fountainG;
    -webkit-animation-name:bounce_fountainG;
    -moz-animation-name:bounce_fountainG;
  animation-duration:1.235s;
    -o-animation-duration:1.235s;
    -ms-animation-duration:1.235s;
    -webkit-animation-duration:1.235s;
    -moz-animation-duration:1.235s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
  transform:scale(.3);
    -o-transform:scale(.3);
    -ms-transform:scale(.3);
    -webkit-transform:scale(.3);
    -moz-transform:scale(.3);
  border-radius:17px;
    -o-border-radius:17px;
    -ms-border-radius:17px;
    -webkit-border-radius:17px;
    -moz-border-radius:17px;
}

#fountainG_1{
  left:0;
  animation-delay:0.496s;
    -o-animation-delay:0.496s;
    -ms-animation-delay:0.496s;
    -webkit-animation-delay:0.496s;
    -moz-animation-delay:0.496s;
}

#fountainG_2{
  left:27px;
  animation-delay:0.6125s;
    -o-animation-delay:0.6125s;
    -ms-animation-delay:0.6125s;
    -webkit-animation-delay:0.6125s;
    -moz-animation-delay:0.6125s;
}

#fountainG_3{
  left:54px;
  animation-delay:0.739s;
    -o-animation-delay:0.739s;
    -ms-animation-delay:0.739s;
    -webkit-animation-delay:0.739s;
    -moz-animation-delay:0.739s;
}

#fountainG_4{
  left:81px;
  animation-delay:0.8655s;
    -o-animation-delay:0.8655s;
    -ms-animation-delay:0.8655s;
    -webkit-animation-delay:0.8655s;
    -moz-animation-delay:0.8655s;
}

#fountainG_5{
  left:108px;
  animation-delay:0.992s;
    -o-animation-delay:0.992s;
    -ms-animation-delay:0.992s;
    -webkit-animation-delay:0.992s;
    -moz-animation-delay:0.992s;
}

#fountainG_6{
  left:135px;
  animation-delay:1.1085s;
    -o-animation-delay:1.1085s;
    -ms-animation-delay:1.1085s;
    -webkit-animation-delay:1.1085s;
    -moz-animation-delay:1.1085s;
}

#fountainG_7{
  left:162px;
  animation-delay:1.235s;
    -o-animation-delay:1.235s;
    -ms-animation-delay:1.235s;
    -webkit-animation-delay:1.235s;
    -moz-animation-delay:1.235s;
}

#fountainG_8{
  left:189px;
  animation-delay:1.3615s;
    -o-animation-delay:1.3615s;
    -ms-animation-delay:1.3615s;
    -webkit-animation-delay:1.3615s;
    -moz-animation-delay:1.3615s;
}