//media query
.menu-toggle {
    display: none;
}

@media screen and ( min-width: 590px) {
    #section-itinerary-search {
        div.wp-travel-search {
            p {
                display: inline-block;
                padding: 20px;
                width: 48%;
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .layout-left-sidebar {
        .content-area {
            width: 66.6666%;
            float: right;
        }
        .widget-area {
            float: left;
        }
    }
    .layout-right-sidebar {
        .content-area {
            width: 66.6666%;
            float: left;
        }
        .widget-area {
            float: right;
        }
    }
    .widget-area {
        width: 33.3333%;
    }

    
}

@media screen and (min-width:992px) {
    .travel-mobile-menu {
        display: none;
    }
    .sidr.left {
        display: none;
    }
    #section-itinerary-search {

        div.wp-travel-search {
            p {
                display: inline-block;
                padding: 20px;
                width: 23%;
            }
        }
    }
}

@include sidr-view {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 18px;
    }
    #page {
        .top-header {
            display: none;
        }
    }
    .top-header {
        border: none;

        ul {
            border: none;
            li {
                width: 100%;
                border-top: 1px solid #4d4d4d;
                border-bottom: 1px solid #1a1a1a;
                border-right: none;
                &:last-child {
                    border-top: 1px solid #4d4d4d;
                    border-bottom: 1px solid #1a1a1a;
                }
            }
        }
        .menu-icons.header-social {
            float: none;
            li {
                width: 100%;
                display: inline-block;
                a {
                    &:before{
                        padding-right:10px;
                    }
                }
                &:hover a {
                    box-shadow: none;
                }
            }
        }
        .menu-icons {
            a {
                &:before {
                    margin-right: 5px;
                }
            }
        }
    }
    .site-header {
        position: relative;
        .container {
            position: relative;
        }
    }
    #simple-menu {
        display: block;
        right: 0;
        position: absolute;
        top: 15px;
        margin-right: 15px;
    }
    .main-navigation {
        display: none;
    }

    #simple-menu i {
        background-color: $button-color;
        border: none;
        color: $white;
        font-size: 21px;
        padding: 6px 8px;
        border-left: 2px solid;
        @include pre-define-border($button-color);
        @include transition(all .4s ease-in-out);
        &:hover {
            background-color: $button-bg-hover;
        }
    }

    .sidr {
        ul {
            margin: 0;
            li a {
                text-transform: uppercase;
                font-size: 13px;
                padding:10px 15px;
                line-height: 23px;

                &:hover {
                    color: $link-color-hover;
                }
            }
        }
    }
    .sidr ul li ul li a {
        padding-left: 25px;
    }
    .sidr ul li ul li li a {
        padding-left: 45px;
    }
    .sidr ul li ul li li li a {
        padding-left: 55px;
    }
    .sidr-class-menu-item-has-children {
        position: relative;
    }
    .dropdown-children {
        position: absolute;
        z-index: 10;
        right: 5px;
        top: 4px;
        height: 35px;
        width: 35px;
        cursor: pointer;
        padding: 0 !important;
        display: block;

        &:before {
            content: '';
            position: absolute;
            left: 12px;
            top: 17px;
            display: block;
            width: 11px;
            height: 1px;
            background: #fff;
            z-index: 99;
            @include transition(all 0.4s ease-in-out);
        }
        &:after {
            content: '';
            position: absolute;
            top: 12px;
            left: 17px;
            display: block;
            width: 1px;
            height: 11px;
            background: #fff;
            z-index: 99;
            @include transition(all 0.4s ease-in-out);
        }
    }
    .dropdown-children.after {
        &:after,
        &:before {
            @include transform-with-rotate(45deg, 1);
        }
    }
    .title-tagline {
        p {
            width: 80%;
        }
    }
}

@include mob {

    .featured-slider {
        .featured-slider-contents {

            p {
                display: none;
            }
        }
    }

    .highlight-tag {
        text-align: center;
        .highlight-wrapper {
            h2 {
                font-size: 20px;
            }
            p {
                font-size: 16px;
            }
        }
    }

    .travel-testimonial {
        .client-content {
            padding: 15px 0;
            blockquote {
                padding: 0;
            }
        }
    }
    .travel-blog {
        .featured-blog {
            .blog-latest-post {
                .post-item-wrapper {
                    .post-content {
                        .post-excerpt {
                            p {
                                max-height: 95px;
                                min-height: 95px;
                            }
                        }
                    }
                }
            }
        }
    }
    .title-tagline {
        p {
            width: 100%;
        }
    }
    #header-search {
        #section-itinerary-search {
            background: transparent;
            position: relative;
            top: 15%;
            margin-top: 0;
            width: 100%;
            margin-left: 0px;
        }
    }
}

@media screen and (max-width:540px) {
    .travel-testimonial {
        .client-img.wrap {
            width: 100%;
            margin-bottom: 20px;
            img {
                width: 30%;
            }
        }
        .client-content {
            width: 100%;
        }
    }
    .footer-inner-wrapper {
        .col-xs-6 {
            width: 100%;
        }
    }
    h1 {
        font-size: 18px;
    }

    .slick-dots {
        display: none !important;
    }
}

@media screen and (max-width: 420px) {
    .post-item-wrapper {
        .post-thumb {
            padding-bottom: 90%;
        }
    }

}

@media screen and (min-width:768px) and (max-width:991px) {
    .top-header .col-sm-6 {
        padding: 0;
    }
}