// Variables.

// General Colors
$text-color: #555;
$heading-color: $text-color;
$h1-color: $text-color;
$h2-color: $text-color;
$h3-color: #787878;
$h4-color: $text-color;
$h5-color: $text-color;
$h6-color: $text-color;
$mark-color: #ff0;
$mark-bg-color: #000;
$white: #fff;
$dark-grey:#e0e0e0;
$custom-header-dark:#8b8b8b;
$dark:#000;
// Button colors.
$button-text-color: #fff;
$button-text-color-hover: #fff;
$button-color-hover: #df1814;
$button-color: #f83531;
$button-bg: #f83531;
$button-bg-hover: #df1814;
$button-border-color: #fff;
$link-distinct-color:#f83531;
// Link colors.
$link-color: #555;
$link-color-hover: #df1814;

// Fonts
$text-fonts: 'Roboto', sans-serif;
$heading-text-fonts: 'Open Sans', sans-serif;

// Footer.
$footer-title-color: #fff;
$footer-text-color: #a6a6a6;
$footer-link-color: $footer-text-color;
$footer-font-size: 14px;
$footer-bg-color: #252525;


// >>> TABLE OF CONTENTS:
// # Normalize
// # Typography
// # Elements
// # Forms
// # Navigation
//  ## Links
//  ## Menus
// # Accessibility
// # Alignments
// # Clearings
// # Widgets
// # Content
//  ## Posts and pages
//  ## Comments
// # Infinite scroll
// # Media
// 	## Captions
// 	## Galleries




