.wp-travel-post-thumbnail {
    display: block;
}

#section-itinerary-search {
    background: #4a4545;
    .section-title {
        color: $white;
    }
    .title-tagline {
        p {
            @extend .section-title;
        }
    }
    div.wp-travel-search {
        text-align: center;
        padding: 20px;
        p {
            label {
                display: block;
                font-size: 16px;
                font-weight: bold;
                font-style: italic;
                color: $white;
                text-align: left;
                width: 100%;
            }
            input {
                position: relative;
                border-radius: 4px;
                font-size: 14px;
                line-height: 20px;
                padding: 5px 10px;
                min-width: 75px;
                width: 100%;
                text-transform: uppercase;
            }
            select {
                @extend input;
            }
        }
        p.wp-travel-search {
            input {
                border: 1px solid $button-bg;
                @include transition(all 0.5s ease);
            }
            &:hover input {
                border-color: $button-bg-hover;
            }
        }
    }
}

#header-search {
    #section-itinerary-search {
        background: transparent;
        position: absolute;
        top: 20%;
        width: 100%;
        margin-left: 0px;
        div.wp-travel-search {
            p {
                label {
                    color: $text-color;
                }
            }
        }
    }
    #search-form {
        .close {
            position: fixed;
            top: 8%;
            right: 6%;
            opacity: 0.7;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity)";
            filter: alpha(opacity=0.7);
            -moz-opacity: 0.7;
            -khtml-opacity: 0.7;
            font-size: 20px;
            color: $text-color;
        }
    }
}

.slider-book-now {
    padding: 12px 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid;
    border-color:transparent;
}

/*
    Itinirary template css.
*/
.post-item-wrapper.trip-details {
    overflow: visible;
    .post-content {
        .trip-metas {
            position: absolute;
            bottom: 20px;
            width: calc(100% - 30px);
            transition: all 0.4s ease-in-out;
            font-size: 12px;

            .title-price-wrapper {
                min-height: 80px;
                position: relative;
                @include transition(all 0.5s ease);
            }
            .rating-count {
                position: absolute;
                margin-left: 5px;
            }
            .wp-travel-average-review {
                font-size: 13px;
            }
        }
        .trip-price {
            width: 40%;
            float: right;
            text-align: right;

            del {
                margin: 0;
            }

            .current-price {
                display: block;
                color: $white;
                font-size: 20px;
            }
            .sale-price {
                @extend .current-price
            }
        }
        .per-person-text {
            position: static;
            color: #fff;
            text-align: right;
            float: right;
            &::before {
                content: '/';
                margin-right: 5px;
            }
        }
        h4 {
            position: relative;
            bottom: inherit;
            width: 60%;
            float: left;
            margin-bottom: 0;
            min-height: 72px;
        }
        .wp-travel-trip-time {
            display: block;
            color: $white;
            padding-bottom: 10px;
        }
        span.trip-category {
            float: right;
        }
    }
    &:hover {
        .post-content {
            .trip-metas {
                .title-price-wrapper {
                    min-height: 100px;
                    @include transition(all 0.5s ease);
                }
            }
        }
    }
}

.post-item-wrapper.trip-details .trip-metas .wp-travel-trip-time i,
.post-item-wrapper.trip-details .wp-travel-average-review:before,
.post-item-wrapper.trip-details .wp-travel-average-review span,
.post-item-wrapper.trip-details .rating-count,
.post-item-wrapper.trip-details .trip-category {
    color: $white;
}


.layout-left-sidebar .wp-travel-trips-has-sidebar{
    float:right;
    padding-right: 0;
    padding-left: 15px;

}
.layout-left-sidebar .widget-area{
    padding-left:0;
    padding-right:15px;
}



@media (max-width:992px){
    .layout-left-sidebar .wp-travel-trips-has-sidebar{
        padding-left: 0;

    }
    .layout-left-sidebar .widget-area{
        padding-right:0;
    }
}